<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="footer">
        <p> &#169; copyright 2021</p>
        <p>Follow us on:</p>
        <div class="icons">
            <a href="#">Facebook</a>
            <a href="#">Tweeter</a>
            <a href="#">LinkdIn</a>
        </div>

    </div>
</body>
</html>