<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container1">
        <h2>About this web application</h2>
        <br>
        <p>This web application is made by me by using HTML CSS Javascript Nodejs Express and EJS <br>
        I have used express for making my local server. Javascript have been used to add functonality <br>
        such as adding and deleting the chores. EJS have been used to make html dynamic and also to control header and footer.
        </p>
        
    </div>
</body>
</html>